.detail-container {
  margin: 20px;
  border-radius: 13px;
  box-shadow: 2px 2px 2px 2px #9E9E9E;
  padding: 15px;
}
.detail-message {
  color: green;
  text-align: center
}
.detail-text {
  color: grey;
}
.detail-text-bold {
  font-weight: bold;
}
.location-blur {
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(200,200,200,0.75);
  height: 100%;
  width: 100%;
  position: absolute;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.more-info-container {
  margin: 20px;
  border-radius: 13px;
  box-shadow: 2px 2px 2px 2px #9E9E9E;
  padding: 15px;
  position: relative;
}
.more-info-wrapper {
  width: 100%;
  border-bottom-width: 2px;
  border-bottom-color: lightGrey;
  border-bottom-style: solid;
}
.more-info-text {
  color: lightBlue;
  text-align: center;
}
.optional-container {
  background-color: lightGrey;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}
.optional-text {
  color: white;
}
.emergency-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 100%;
  border-width: 0px;
  border-bottom-width: 2px;
  border-bottom-color: lightGrey;
  border-bottom-style: solid;
}
.emergency-text {
  text-align: center;
  font-size: 20px;
}
.location-container {
  border-width: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 15px;
  width: 100%;
}
.send-btn-container {
  display: flex;
  justify-content: center;
  align-items: center
}
.btn-container {
  color: white;
  font-size: 20px;
  padding: 5px;
}
.modal-container {
  background-color: rgba(200,200,200,0.75);
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.modal-wrapper {
  margin: 10px;
  border-radius: 13px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal-btn-container {
  background-color: white;
  margin: 10px;
  border-radius: 13px;
  box-shadow: 2px 2px 2px 2px #9E9E9E;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-btn-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-btn-text {
  color: grey;
}
.emergency-btn {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 100%;
  border-bottom-color: lightGrey;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
}
.emergency-btn-text {
  font-size: 20px;
  color: blue;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  flex: 1;
}
.blue {
  background-color: lightBlue;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.next-btn-container {
  margin: 10px;
}
.next-btn-wrapper {
  box-shadow: 2px 2px 2px 2px #9E9E9E;
  border-radius: 13px;
  width: 100%;
  border-color: lightGrey;
  border-width: 2px;
}
.next-btn {
  font-size: 20px;
  color: blue;
}
.checkbox {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}
.icon {
  height: 30px;
  width: 30px;
}
.container {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
  background-color: lightGrey;
}
.centered {
  position: absolute;
  width: 300px;
  top: -300px;
  background-color: lightGrey;
  border: 1px solid grey;
  border-radius: 15px;
  flex: 1;
  padding-top: 5px;
  /* padding-bottom: 5px; */
  justify-content: center;
  align-items: center;
  text-align: center;
}
.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}
.button {
  border: 1px solid grey;
  width: 100%;
  padding: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.blue-btn {
  color: cornflowerblue;
  font-size: 15px;
}
.modalContainer {
  position: absolute;
  background-color: grey;
  height: 100vh;
  width: 100%;
  opacity: 0.9;
  z-index: 999999;
}
