.map {
  height: 280px;
  width: 100%;
}

@media (max-width: 1179px) {
  .map {
    width: 100%;
  }
}

@media (max-width: 679px) {
  .map {
    width: 100%;
    height: 280px;
  }
}
#coordinates {
  position: absolute;
  color: white;
  margin: 10px;
}

.map-button {
  border-top: 1px solid grey;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
}

.coordinates {
  position: absolute;
  left: 0;
  top: 8px;
  color: #fff;
  width: 50%;
  text-wrap: wrap;
  word-wrap: break-word;
}

.pin {
  position: absolute;
  z-index: 9;
  background-color: rgba(211, 211, 211, .85);
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
